@import url(./font.css);
@import url(./variaveis.css);
.cardSection {
  display: flex;
  align-items: center;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 800px;
  background-position-y: 0px;
  height: 90vh;
  width: 100%;
  @media (max-width: 1024px) {
    align-items: top;
    padding: 100px 10px;
    background-image: none;
    background-color: var(--cor-primaria);
    height: 100%;
  }
}
.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  @media (max-width: 768px) {
    gap: 1em;
  }
}
.link {
  text-decoration: none;
}
.card {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  @media (max-width: 1024px) {
    width: 300px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
  }
}
.card__desenvolvimento {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  color: var(--cor-secundaria);
  background-color: var(--cor-erro);
  @media (max-width: 1024px) {
    width: 300px;
  }
}
.card__titulo {
  font-family: var(--font);
  font-size: 1.2em;
}
