@import url(./font.css);
@import url(./variaveis.css);
.navbar{
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.224);
    display: flex;
}
.navbar-brand{
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.7rem;
    font-family: var(--font);
    color: var(--cor-primaria);
}
.nav-link {
    text-transform: uppercase;
    padding: 1.7rem;
    font-family: var(--font);
    color: var(--cor-primaria);
}
.mainSection{
    display: flex;
    align-items: center;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size:  800px;
    background-position-y: 0px;
    height: 95vh;
    width: 100%;
    @media(max-width: 1024px){
        align-items: top;
        padding: 120px 10px;
        height: 100%;
        background-image:none;
        background-color:var(--cor-primaria);
    }

}
.mainSectionConteudo{
    display: flex;
    align-items: center;
    @media(max-width: 1024px){
        text-align: center;
        flex-direction: column;
    }
   
}
.teste{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
    margin-bottom: 1.3em;
}
.titulo{
    color: var(--cor-primaria);
    font-weight: 400;
    font-size: 3em;
    font-family: var(--font); 
    @media(max-width: 1024px){
        color: var(--cor-secundaria);
        font-size: 2.5em;
    }
    @media(max-width: 768px){
        font-size: 2em;
    }  
}
.descricao{
    font-weight: 600;
    font-size: 2em;
    font-family: var(--font); 
    @media(max-width: 1024px){
        color: black;
        font-size: 1.5em;
    }
    @media(max-width: 768px){
        font-size: 1em;
    }
}
.containerBotao{
    display: flex;
    align-items: center;

    gap: 0.5em;
 
}
.botao{
    width: 200px;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--font);
    font-size: 1.2em;
    @media(max-width: 1024px){
        background-color: var(--cor-secundaria);
        color: black;
        width: 130px;
        height: 60px;
        font-size: 1em;
    }
}
.imageBanner{
    @media(max-width: 1024px){
        width: 100%;
    }
}
footer{
    width: 100%;
    background-color: var(--cor-rodape);
    margin: 0px;
    padding: 10px;

}
.footerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5em;
    margin: 0 auto;
}
.rodapeMensagem{
    text-align: center;
    font-size: 1em;
    color: var(--cor-secundaria);
}